<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Amin_stors/IdeaProjects/MagentoProject">
        <classes>
            <class name="magentaHelperUi.pages.CreateAccountPage">
                <methods>
                    <include name="fillUpTheCreateCustomerPage"/>
                </methods>
            </class>
            <class name="api.RegressTest">
                <methods>
                    <include name="checkAvatarAndIdTest"/>
                    <include name="successRegister"/>
                    <include name="unSuccessTest"/>
                    <include name="sortedYearsTest"/>
                    <include name="delete"/>
                </methods>
            </class>
            <class name="pageTests.CreateAccountPageTest">
                <methods>
                    <include name="testWithRegisteredCredits"/>
                    <include name="testLoginWithInvalidEmail"/>
                    <include name="testLoginWithInvalidPassword"/>
                </methods>
            </class>
            <class name="pageTests.DemoTest">
                <methods>
                    <include name="test"/>
                </methods>
            </class>
            <class name="pageTests.LoginPageTest">
                <methods>
                    <include name="testWithValidCredits"/>
                    <include name="testWithInvalidEmail"/>
                    <include name="testWithInvalidPassword"/>
                    <include name="testForgotPasswordBtn"/>
                </methods>
            </class>
            <class name="pageTests.MyAccountPageTest">
                <methods>
                    <include name="testContactInformation"/>
                    <include name="testEditedInfo"/>
                    <include name="testEditedAddress"/>
                    <include name="testChangePasswordWithWrongCurrent"/>
                    <include name="testChangePasswordWithSamePassword"/>
                    <include name="testChangePasswordSuccess"/>
                </methods>
            </class>
            <class name="pageTests.OrderTest">
                <methods>
                    <include name="test123"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>